* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans Kr", sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.card-container {
    width: 450px;
    height: 250px;

    perspective: 1100px;
    cursor: pointer;
}
  
.card {
    position: relative;
    width: 100%;
    height: 100%;
    
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: filter 0.5s ease;
}


.card.flipped {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
}


.card-inner:hover {
    filter: blur(2px)
            brightness(130%);
    transition: 1s ease;
}

@media (max-width: 767px) {
    .card-container{
        width: 87%;
    }
    .card-inner:hover {
        filter: none;
    }
}
  